################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/MovieOverlay/v14/.suo
/src/__pycache__
/MovieOverlay.sln
/movieOverlayUI.py
/movieOverlayUI.ui
/MovieOverlay.pyproj
/src/view_def.py
/src/view_usb_camera.py
/src/zz_old_frame_manager.py
